marquee{
    background-color: aqua;
}
.1 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

#45{
    font-weight: 200
    
}
menu{
    position:static;
    
}
